//<МИКСИНЫ>==================
@import "mixins.scss";
//</МИКСИНЫ>=================

//Подключение шрифтов
// $subset=cyrillic-ext &display=swap
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap");

@import "fonts";
//Подключение шрифтов
//<Шрифт по умолчанию>==========
$fontfamily: "acrom", sans-serif;
//</Шрифт по умоланию>=========

//<ПЕРЕМЕННЫЕ>==========
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1290;
$paddingContainer: 15;
$md1: 1900px;
$md2: 1366px;
$md3: 768px;
$md4: 320px;

$white: #fff;
$mainColor: #ff9739;
//</ПЕРЕМЕННЫЕ>=========

//<Иконочные шрифты>==========
@import "icons";
//</Иконочные шрифты>==========

//<Обнуление, общие параметры>==========
@import "nullstyle.scss";
body {
  &.lock {
    overflow: hidden;
  }
}

//</Обнуление, общие параметры>=========

//<Оболочка>==========
.wrapper {
  position: relative;

  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
//</Оболочка>=========

//<Основная сетка>==========
.container {
  max-width: $maxWidthContainer + $paddingContainer * 2 + px;
  margin: 0 auto;
  padding: 0 $paddingContainer + px;
}

//</Основная сетка>=========

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ< ФОРМ и ГОТОВЫХ КЛАССОВ>>==========
@import "ui.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ< ФОРМ и ГОТОВЫХ КЛАССОВ>>==========

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЄЛЕМЕНТОВ>==========
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЄЛЕМЕНТОВ>=========

.content {
  flex: 1 0 auto;
}
